<!doctype html>
<html class="{{#if hasCachedFonts}}fonts-loaded{{/if}}" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
  <link id="favicon" rel="shortcut icon" href="{{cdn 'images/favicon-normal.ico' }}">

  <title>Learn</title>

  {{> fonts}}
  <base target="_blank">
</head>
<body>
  <header class="userhome-header">
    <div class="userhome-header__logo">
      {{> logo_man}}
      <img class="userhome-header__logo-text" src='{{cdn "images/gitter-vector-logo.svg"}}'>
    </div>
    <nav class="userhome-header__nav"><a href="/home" target="_parent">Home</a><span class="userhome-header__nav-arrow"></span>Learn</nav>
    <h1 class="userhome-header__title">Learn all about Gitter</h1>
  </header>
  <div class="userhome-main userhome-main--learn">
    <section class="learn-section">
      <h3>Official Support</h3>
      <a class="learn-section__link learn-section__link--main" href="http://support.gitter.im">support.gitter.im</a>
      <h5>RTFM</h5>
      <a class="learn-section__link learn-section__link--inline" href="https://gitter.zendesk.com/hc/en-us/sections/200062482-The-basics">The basics</a>
      <a class="learn-section__link learn-section__link--inline" href="https://gitter.zendesk.com/hc/en-us/sections/200062922-Mad-skillz">Mad Skillz</a>
      <h5>FAQ</h5>
      <a class="learn-section__link learn-section__link--inline" href="https://gitter.zendesk.com/hc/en-us/sections/200062201-Github">Github</a>
      <a class="learn-section__link learn-section__link--inline" href="https://gitter.zendesk.com/hc/en-us/sections/200062962-Feedback">Feedback</a>
      <a class="learn-section__link learn-section__link--inline" href="https://gitter.zendesk.com/hc/en-us/sections/200065242-General">General</a>
      <a class="learn-section__link learn-section__link--inline" href="https://gitter.zendesk.com/hc/en-us/sections/200062942-Technical-stuff">Technical Stuff</a>
    </section>
    <section class="learn-section">
      <h3>Gitter API</h3>
      <a class="learn-section__link learn-section__link--main" href="https://developer.gitter.im">developer.gitter.im</a>
      <a class="learn-section__link learn-section__link--inline" href="https://developer.gitter.im/docs/rest-api">Rest API</a><br>
      <a class="learn-section__link learn-section__link--inline" href="https://developer.gitter.im/docs/streaming-api">Streaming API</a><br>
      <a class="learn-section__link learn-section__link--inline" href="https://developer.gitter.im/docs/faye-endpoint">Faye</a><br>
      <a class="learn-section__link learn-section__link--inline" href="https://developer.gitter.im/docs/services">Services</a>
    </section>
    <section class="learn-section">
      <h3>On Gitter</h3>
      <p><a class="learn-section__link" href="/gitterHQ/gitter" target="_parent">gitterHQ/gitter</a> for general product stuff</p>
      <p><a class="learn-section__link" href="/gitterHQ/developers" target="_parent">gitterHQ/developers</a> for Gitter API developer questions</p>
    </section>
    <section class="learn-section">
      <h3>Old School</h3>
      <a class="learn-section__link learn-section__link--main" target="_parent" href="mailto:support@gitter.im">support@gitter.im</a>
    </section>
    <section class="learn-section">
      <h3>Twitter</h3>
      <a class="learn-section__link learn-section__link--main" href="https://twitter.com/gitchat">@gitchat</a>
    </section>
    <section class="learn-section">
      <h3>Raise an Issue</h3>
      <a class="learn-section__link learn-section__link--main" href="https://gitlab.com/gitlab-org/gitter/webapp/issues">gitlab.com/gitlab-org/gitter/webapp/issues</a>
    </section>
  </div>
</body>
</html>
